<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bauyrzhan.calculator">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/lab11Part1"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".ChessBoard" />
        <activity android:name=".EmailListActivity" />
        <activity android:name=".StartMenuActivity" />
        <activity android:name=".Dictionary" />
        <activity android:name=".Words_Meaning" />
        <activity android:name=".AddWordActivity" />
        <activity android:name=".WorldFlagsGameActivity" />
        <activity android:name=".EmailDetailsActivity" />
        <activity android:name=".PicassoGallery" />
        <activity android:name=".LocalDatabase" />
        <activity
            android:name=".thecat_api"
            android:screenOrientation="sensorLandscape" />
        <!-- .LocalDatabase -->
        <activity android:name=".ChatFirebase" />
        <activity android:name=".UmbrellaDrops" />
        <activity android:name=".ProfileLocalization">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>